* { margin:0; padding:0;}
#terminal{display: block; width: 720px; height:480px; left:1137px; top: 75px; z-index: 1; position: absolute;}
#layout{position: absolute; opacity: 1; width: 100vw; height: 100vh; z-index: 99;}
#spritesheet{width: 32px; height: 32px; display: none;}

button{
    z-index: 2;
    position: absolute;
}

#play{
    left: 1650px;
    top: 210px
}

#stop{
    left: 1750px;
    top: 210px
}

#pause{
    left: 1650px;
    top: 250px;
}

#death-screen{
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: absolute;
    display: none;
}

#start{
    z-index: 100;
    top:800px;
    left:450px;
    position: absolute;
    display: none;
    width: 300px;
    height: 75px;
    border: 4px outset #115a27;
    background-color: #198138;
    color: #FFF;
    cursor:pointer;
}

#start:hover {
    background-color: #1eb44b;
    color:white;
}

button{
    z-index: 99;
}
#welcome{
    z-index: 2;
}
.screen_one{
    display: block;
    width: 1024px;
    height: 768px;
    left: 61px;
    top: 183px;
    position: absolute;
}

.screen_two{
    width: 720px;
    height:480px;
    left:1137px;
    top: 75px;
    z-index: 1;
    position: absolute;
}